<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <h3 class="bg-primary text-white p-3">
        {{getName()}}'s To Do List
      </h3>
      <div class="input-group mb-3">
        <input type="text" class="form-control" (keyup.enter)="addItem(); " [(ngModel)]="inputText">
        <button [class]="getBtnClasses()" class="btn" (click)="addItem();"> Ekle</button>
      </div>

      <div class="form-check mb-3">
        <input type="checkbox" [(ngModel)]="displayAll" name="" id="displayAll" class="form-check-input">
        <label for="displayAll" class="form-check-label">Hepsini Göster</label>
      </div>
      <div class="my-2">
        {{displayCount()}} Görev Tamamlandı.
      </div>

      <div class="alert alert-warning" *ngIf="getItems().length==0 else itemsTable">
        Tüm Görevler Tamamlandı.
      </div>
      <ng-template #itemsTable>

        <table class="table table-bordered" *ngIf="getItems().length > 0">
          <thead>
            <tr>
              <th></th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of getItems(); let i = index;"
              [class]="{'bg-primary':item.action, 'bg-warning':!item.action}">
              <td>{{i+1}}</td>
              <td>{{item.description}}</td>
              <!-- <div [ngSwitch]="item.action">
              <div *ngSwitchCase="true">Yes</div>
              <div *ngSwitchDefault>No</div>
            </div> -->
              <div *ngIf="item.action; then yesTemplate else noTemplate">
                Burası Gösterilmez
              </div>
              <ng-template #yesTemplate>
                Yes
              </ng-template>
              <ng-template #noTemplate>
                No
              </ng-template>
              <td>
                <input type="checkbox" (change)="onActionChange(item)" [(ngModel)]="item.action">
              </td>
            </tr>
          </tbody>
        </table>

      </ng-template>

    </div>
  </div>
</div>